/* file style.css */
html,body {
  height: 100%;
  font-family: "Ubisoft Sans", sans-serif;
  font-size: 16px;
}

/* GENERAL */
a { text-decoration: none;}

.puntini { display: none;}

.button {
  margin: 4px;
  padding: 14px 50px;
  background: #147394;
  color: #fff;
  border-radius: 40px;
  width: 100px ;
  justify-content: center;
}

/* HEADER */

.header {
  position: fixed;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.header__logo {
  color: #fff;
  float: left;
  padding: 10px 50px 10px 60px;
}

.header__menu__item {
  display: inline-block;
  padding: 15px 20px 20px 20px;
}

.header__menu__item a {
  color: #fff;
  padding: 15px;
  font-weight: bold;
}

.header__menu__search {
  display: inline-block;
  padding: 15px 60px 20px 30px;
}

.imgsizelogo {
  width: 90px;
  height: 30px;
}
.imgsize {
  width: 25px;
  height: 25px;
}

/* SEZIONE HERO */

.section1 {
  background-image: url(img/sfondosection1.webp);
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 950px;
  flex-wrap: wrap;
}

.testosection1 {
/*  font-size: 50px;*/
  text-align: center;
  color: white;
  align-items: center;
  position: relative;
  margin: auto;
}

.testosection1 h1 {
  font-family: "Ubisoft Sans Bold" sans-serif;
  font-size: 3rem;
  font-weight: bold;

}

.testosection1 p {
  padding: 23px;
  font-size: 1.8rem;

}


/* CAROSELLO TITOLI */

.immagine {
  width: 200px;
  padding: 10px;
}

.carosello-games {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 50px 50px;
}

.carosello-games__locandine {
  text-align: center;
}

.carosello__container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.carosello__titoli {
  display: block;
  text-align: left;
  padding-left: 25px;
}

/* SEZIONE NEWS */
.news {
  align-items: center;
}

.news__container {
  text-align: center;
}

.news__menu {
}

.news__menu__item {
  display: inline-block;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 50px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
}

.div2 {
  display: flex;
  grid-area: 3 / 1 / 3 / 1;
}

.div3 {
  display: flex;
  grid-area: 1 / 2 / 1 / 2;
}

.div4 {
  display: flex;
  grid-area: 2 / 2 / 2 / 2;
}

.div5 {
  display: flex;
  grid-area: 3 / 2 / 3 / 2;
}

/* SEZIONE UBISTORE */

.ubistore {
  padding-top: 50px;
  font-size: 16px;
  background-color: white;
}

.ubistore__title {
  text-align: center;
}

.ubistore__imgs {
  display: flex;
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.ubistore__img1 {
  padding: 20px;
  background-image: url(img/ubi_ac-sale-feb22-valfav-908x1080.jpg);
  background-size: cover;
  height: 540px;
  color: white;
  width: 404px;
}

.ubistore__img2 {
  padding: 20px;
  background-image: url(img/Ubidotcom_ac-dor-nov21_908x1080_NAM-EN.webp);
  background-size: cover;
  color: white;
  height: 540px;
  width: 404px;
}

.ubistore__img3 {
  padding: 20px;
  background-image: url(img/ubihome-store-promo-r6extraction.webp);
  background-size: cover;
  color: white;
  height: 540px;
  width: 404px;
}

/* SEZIONE INSIDE UBISOFT */

.insideubisoft {
  padding-top: 16px;
  font-size: 16px;
  background-color: gray;
}

.insideubisoft__title {
  text-align: center;
}

.insideubisoft__imgs {
  display: flex;
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.insideubisoft__img1 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-inclusive-workplace.webp);
  background-size: cover;
  align-items: flex-end;
  height: 400px;
  width: 400px;
  color: black;
}

.insideubisoft__img2 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-greenweeks.jpg);
  background-size: cover;
  color: black;
  height: 400px;
  width: 400px;
}

.insideubisoft__img3 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-fawzi_mesmar.jpg);
  background-size: cover;
  color: black;
  height: 400px;
  width: 400px;
}

.featuredvideos {
  text-align: center;
}

/* SEZIONE UBI CONNECT */

.ubiconnect {
  background-color: #091225;
}
.ubiconnect__container {
  display: flex;
  justify-content: center;
}

.ubiconnect__img {
  width: 25%;
  height: 25%;
}

.ubiconnect__title {
  color: white;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: rgb(29, 30, 34);
}

.footer__menu__item {
  display: block;
  font-size: 20px;
  color: white;
}

.footer__menu__item2 {
  display: block;
  font-size: 16px;
  color: gray;
}


@media (max-width: 935px){

  .header__logo{order: 2;}
  .header__menu{display: none;}
  .header__menu__search img {display: none;}

  .puntini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10%;
    order: 1;
  }
  .puntini span{
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100%;
  }
  
  .buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
