/* file style.css */
html,body {
  height: 100%;
  font-family: "Ubisoft Sans", sans-serif;
  font-size: 16px;
}

/* GENERAL */
a { text-decoration: none;}

.puntini { display: none;}

.button {
  margin: 4px;
  padding: 14px 50px;
  background: #147394;
  color: #fff;
  border-radius: 40px;
  width: 10%;
  justify-content: center;
}

/* HEADER */

.header {
  position: fixed;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.header__logo {
  color: #fff;
  float: left;
  padding: 10px 50px 10px 60px;
}

.header__menu__item {
  display: inline-block;
  padding: 15px 20px 20px 20px;
}

.header__menu__item a {
  color: #fff;
  padding: 15px;
  font-weight: bold;
}

.header__menu__search {
  display: inline-block;
  padding: 15px 60px 20px 30px;
}

.header__menu__login {
  display: inline-block;
  padding: 15px 60px 20px 30px;
}

.imgsizelogo {
  width: 90px;
  height: 30px;
}
.imgsize {
  width: 25px;
  height: 25px;
}

/* SEZIONE HERO */

.section1 {
  background-image: url(img/sfondosection1.webp);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
}

.testosection1 {
/*  font-size: 50px;*/
  text-align: center;
  color: white;
  align-items: center;
  position: relative;
  margin: auto;
}

.testosection1 h1 {
  font-family: "Ubisoft Sans Bold" sans-serif;
  font-size: 3rem;
  font-weight: bold;

}

.testosection1 p {
  padding: 23px;
  font-size: 1.8rem;

}


/* CAROSELLO TITOLI */
.text-bold { font-family: "Ubisoft Sans Bold" sans-serif;; font-weight: 700; font-size: 2.5rem; padding: 10px;}
.immagine { width: 210px; padding: 0 20px; }

.carosello-games {
  background-color: #f0f3f4;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.carosello-games__locandine {  text-align: center;}

.carosello__container {
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  flex-wrap: wrap;
  align-items: center;
}

.carosello__titoli {
  display: block;
}

.carosello__titoli__content{
  margin: 0 20px 40px 20px;
  text-align: left;
}

.carosello__img{
  width: 20px;
  height: 20px;
}


/* SEZIONE NEWS */
.news {
  align-items: center;
}

.news__container {
  text-align: center;  
}

.news__container h1{
  font-family: "Ubisoft Sans Bold" sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 50px;
}


.news__menu {
  font-family: "Ubisoft Sans Bold" sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.news__menu__item {
  display: inline-block;
  padding: 20px;
}

.parent {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
}


.image{
  width: 100% ;
  padding: 10px;
}

.image2{
  width: 50%;
  padding: 10px;
}

.text{
  padding: 10px;
  text-align: left;
}

.text h2{
  padding-top: 15px;
}

.div1 {
  border: 1px solid red;
  grid-row: 1 / span 2; 
  display: flex;
}

.div2 {
  border: 1px solid red;
  display: flex;
}

.div3 {
  border: 1px solid red;
  display: flex;
}

.div4 {
  border: 1px solid red;
  display: flex;
}

.div5 {
  border: 1px solid red;
  display: flex;
}

.div6{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SEZIONE UBISTORE */

.ubistore {
  background-color: #f0f2f4;
  padding-top: 50px;
  font-size: 16px;
}

.ubistore__title {
  text-align: center;
}

.ubistore__imgs {
  display: flex;
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.ubistore__img1 {
  padding: 20px;
  background-image: url(img/ubi_ac-sale-feb22-valfav-908x1080.jpg);
  background-size: cover;
  height: 540px;
  color: white;
  width: 404px;
}

.ubistore__img2 {
  padding: 20px;
  background-image: url(img/Ubidotcom_ac-dor-nov21_908x1080_NAM-EN.webp);
  background-size: cover;
  color: white;
  height: 540px;
  width: 404px;
}

.ubistore__img3 {
  padding: 20px;
  background-image: url(img/ubihome-store-promo-r6extraction.webp);
  background-size: cover;
  color: white;
  height: 540px;
  width: 404px;
}

/* SEZIONE INSIDE UBISOFT */

.insideubisoft {
  padding-top: 16px;
  font-size: 16px;
}

.insideubisoft__title {
  text-align: center;
}

.insideubisoft__imgs {
  display: flex;
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.insideubisoft__img1 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-inclusive-workplace.webp);
  background-size: cover;
  align-items: flex-end;
  height: 400px;
  width: 400px;
  color: black;
}

.insideubisoft__img2 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-greenweeks.jpg);
  background-size: cover;
  color: black;
  height: 400px;
  width: 400px;
}

.insideubisoft__img3 {
  padding: 20px;
  background-image: url(img/ubi-inside_ubisoft-fawzi_mesmar.jpg);
  background-size: cover;
  color: black;
  height: 400px;
  width: 400px;
}

.featuredvideos {
  background-color: #f0f3f4;
  text-align: center;
}

/* SEZIONE UBI CONNECT */

.ubiconnect {
  background-color: #091225;
}
.ubiconnect__container {
  display: flex;
  align-items: center;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.ubiconnect__img {
  width: 25%;
  height: 25%;
}

.ubiconnect__title {
  color: white;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: rgb(29, 30, 34);
}

.footer__menu__item {
  display: block;
  font-size: 20px;
  color: white;
}

.footer__menu__item2 {
  display: block;
  font-size: 16px;
  color: gray;
}



@media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
  .header {
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }

  .header__menu__item {
    display: none;
  }
  .header__menu__search {
    display: none;
  }
  .header__menu__login {
    order: 3;
  }
  .header__logo {
    justify-content: center;
    order: 1;
    }
  .puntini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10%;
    order: 2;
  }
  .puntini span {
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100%;
  }

  .carosello-games__locandine h1 {
    font-family: "Ubisoft Sans Bold" sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .parent {
    display: flex;
    flex-direction: column;
  }
  .text {

  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6, {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  
  .image2 {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {

} 

@media only screen and (max-width: 470px) {

}